body{
    background-image: url('images/bgdebut.png');
    background-repeat: no-repeat;
    background-size: cover;
}

img{  
    border-color: black;
    border-style: inset;
    border-width: 5px;
    display: block;
    float: right;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 40px;
    height: 600px;
    width: 500px;
}

.top{
    font-family: 'Times New Roman';
    font-size: 30px;
    font-style: italic;
    font-stretch: expanded;
    margin-left: 300px;
    color: blue;
}

.mid{
    font-family: 'Vivaldi';
    font-size: 55px;
    font-style: italic;
    font-stretch: expanded;
    margin-left: 195px;
}

.message{
    font-family: 'Optima';
    font-size: 50px;
    font-style: normal;
    font-stretch: expanded;
    text-justify: auto;
    margin-left: 25px;
}

.date{
    font-family: 'Optima';
    font-size: 30px;
    font-style: normal;
    font-stretch: expanded;
    margin-left: 283px;
}

.day{
    font-family: 'Optima';
    font-size: 30px;
    font-style: normal;
    font-stretch: expanded;
    margin-left: 290px;
}

.place{
    font-family: 'Optima';
    font-size: 30px;
    font-style: normal;
    font-stretch: expanded;
    margin-left: 227px;
}

.address{
    font-family: 'Optima';
    font-size: 30px;
    font-style: normal;
    font-stretch: expanded;
    margin-left: 20px;
}

.bottom{
    font-family: 'Times New Roman';
    font-size: 30px;
    font-style: italic;
    font-stretch: expanded;
    margin-left: 300px;
    color: blue;
}